In [1]:
import json
import pandas as pd

In [2]:
from nba_api.stats.static  import players
player_dict = players.get_active_players()

In [3]:
from nba_api.stats.endpoints import commonplayerinfo

#initialize empty lists that will put player id into
player_names = []
player_ids = []
for player in player_dict:
    pID = players.find_players_by_full_name(player['full_name'])[0]['id']
    player_names.append(player['full_name'])
    player_ids.append(pID)

In [4]:
df = pd.DataFrame()
df['playerId'] = player_ids
df['name'] = player_names
df

     playerId              name
0     1630173  Precious Achiuwa
1      203500      Steven Adams
2     1628389       Bam Adebayo
3     1630534      Ochai Agbaji
4     1630583      Santi Aldama
..        ...               ...
530    201152    Thaddeus Young
531   1629027        Trae Young
532   1630209    Omer Yurtseven
533    203469       Cody Zeller
534   1627826       Ivica Zubac

[535 rows x 2 columns]

In [5]:
statheadDF = pd.read_csv('sportsref_download.csv')
statheadDF.rename(columns={'Player':'name'}, inplace=True)

In [6]:
newDF = pd.merge(df, statheadDF, on='name', how='outer')
# jersey number, team - active players

In [7]:
newDF.to_csv('players_career_stats.csv')