In [4]:
import json
import pandas as pd

In [6]:
players_file = open('players.json')
players_json = json.load(players_file)
data=[]

for player in players_json['players']:
    data.append(player)


players_df = pd.DataFrame(data)
  
players_file.close()

'''
teams_file = open('metadata/teams.json')
teams_json = json.load(teams_file)
data=[]
for game in teams_json['teams']:
    data.append(game)

teams_df=pd.DataFrame(data)
  
teams_file.close()
'''

"\nteams_file = open('metadata/teams.json')\nteams_json = json.load(teams_file)\ndata=[]\nfor game in teams_json['teams']:\n    data.append(game)\n\nteams_df=pd.DataFrame(data)\n  \nteams_file.close()\n"

In [9]:
players_df.drop(columns=['dob'],inplace=True)
players_df.head()

,id,firstName,lastName,nbaId,height,weight,position
0,ff415697-89ef-11e6-a31e-a45e60e298d3,Aaron,Brooks,201166,72.0,161.0,G
1,ff42ec5e-89ef-11e6-96c8-a45e60e298d3,Aaron,Gordon,203932,80.0,235.0,F
2,ff4020d4-89ef-11e6-af09-a45e60e298d3,Aaron,Gray,201189,84.0,270.0,C
3,ff4199f8-89ef-11e6-854d-a45e60e298d3,Aaron,Harrison,1626151,78.0,210.0,G
4,c9b3e617-4bd6-4399-970f-b84358a6783f,Aaron,Henry,1630565,77.0,210.0,F

In [10]:
players_df.to_csv('players_info.csv')